extends layout

block content

  h1 #{title}

  p
    | Book: 
    a(href=bookinstance.Book.url)= bookinstance.Book.title

  p Imprint: #{bookinstance.imprint}

  p Status: #{bookinstance.status}

  if bookinstance.due_back_formatted
    p Due back: #{bookinstance.due_back_formatted}

  p Do you really want to delete this BookInstance?

  form(method='POST')
    div.form-group
      input#bookinstanceid.form-control(
        type='hidden',
        name='bookinstanceid',
        value=bookinstance.id
      )

    button.btn.btn-primary(type='submit') Delete
