extends layout

block content
  h1 Delete Deck: #{deck.name}

  if error
    p(style="color:red")= error

  if cards.length || mcqs.length
    p
      strong This deck cannot be deleted because it still contains items.
    if cards.length
      h3 Cards
      ul
        each card in cards
          li
            a(href=card.url)= card.question

    if mcqs.length
      h3 Multiple Choice Questions
      ul
        each mcq in mcqs
          li
            a(href=mcq.url)= mcq.question

  else
    p Are you sure you want to delete this deck?

    form(method='POST')
      input(type='hidden', name='deckid', value=deck.id)
      button.btn.btn-danger(type='submit') Delete
