extends layout

block content
  h1= deck.name

  if deck.description
    p #{deck.description}

  if cards.length
    h3 Cards
    ul
      each card in cards
        li
          a(href=card.url)= card.question

  if mcqs.length
    h3 Multiple Choice Questions
    ul
      each mcq in mcqs
        li
          a(href=mcq.url)= mcq.question

  if !cards.length && !mcqs.length
    p This deck is empty.

  hr

  p
    a(href=deck.url + '/update') Update deck
  p
    a(href=deck.url + '/delete') Delete deck
